div#profile {
	text-align: center;
}

div#profile p {
	padding: 5%;
}

div#profile input[type="button"] {
	font-size: 150%;
	padding: 2%;
	background-color: #C5E0B4;
	color: #565656;
	border: 4px solid #565656;
}